@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext';
@import 'vendors/reset-css/reset.css';

html {
  font-size: 62.5%;
}

body {
  background: #f1f1f1;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

main {
  margin: 0 5%;
}

header {
  margin: 2% 5%;
}
h1 {
  font-size: 3.6rem;
}

input {
  font: inherit;
}

button {
  padding: 10px;
  border: none;
  border-radius: 2px;
}